/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}

/* CSS Variable */

/* Navigation bar */
#navbar {
    display: flex;
    position: sticky;
    align-items: center;
}

/* Navigation bar: Logo and Image  */
#logo {
    margin: 10px 34px;

}

#logo img {

    margin: 3px 3px;
    height: 40px;
}

#navbar ul {
    display: flex;
    font-family: 'Hubballi', cursive;

}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* HOME SECTION */
#home {
    display: flex;
    flex-direction: column;
    height: 670px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url(wallpaper2.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 0.95;
}

#home p {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    font-family: 'Hubballi', cursive;

}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Hubballi', cursive;

}

/* Book details  */
#services {
    margin:  3px 45px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#services .box {
    border: 2px solid red;
    padding: 14px;
    background-color: #ede7e7;
    margin: 25px 6px;
    border-radius: 23px;
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

#services .box p {
    font-family: 'Hubballi', cursive;
}



section.services-container{
    background: url(wallpaper6.jpg);
    opacity: 0.95;
    height: 100%;
    width: 100%;
}

#heading {
    height: 20px;
    font-size: 35px;
}

/* client-section  */
#client-section{
position: relative;

}
#client-section::before{
    content: "";
    position: absolute;
    background: url(wallpaper10.jpg);
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;


}
.client-item{
    padding: 34px;
}
#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height:170px;
    width: 260px;
}
/* Contact section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    background: url(wallpaper5.jpg) no-repeat center center/cover;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.8;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box form{
    width:40%;
    font-family: 'Hubballi', cursive;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Hubballi', cursive;
}

#contact-box input,#contact-box textarea{
    width:100%;
    padding:0.5rem;
    border-radius: 9px;
    font-size: 1.0rem;
}
footer{
    background-color: black;
    color:white;
    padding:7px 20px;
}

/* Utility classes */
.h-primary {
    font-size: 2.5rem;
    padding: 12px;
    text-align: center;
    font-family: 'Hubballi', cursive;
}

.h-secondary {
    font-size: 1.5rem;
    padding: 12px;
    text-align: center;
    font-family: 'Hubballi', cursive;
}

.btn {
    padding: 6px 10px;
    border: 2px solid white;
    background-color: rgb(241, 70, 70);
    color: white;
    margin: 15px;
    font-size: 1.2rem;
    border-radius: 7px;
    cursor: pointer;
}

.center {
    text-align: center;
}